<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="<%= BASE_URL %>apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="<%= BASE_URL %>favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="<%= BASE_URL %>favicon-16x16.png"
		/>
		<link rel="manifest" href="<%= BASE_URL %>site.webmanifest" />
		<link
			rel="mask-icon"
			href="<%= BASE_URL %>safari-pinned-tab.svg"
			color="#5bbad5"
		/>
		<meta name="msapplication-TileColor" content="#2b5797" />
		<meta name="theme-color" content="#ffffff" />
		<title>desi-gn creative frontend</title>
	</head>

	<body>
		<noscript>
			<strong
				>Sorry, aber desi-gn.de funktioniert nicht richtig ohne
				JavaScript. Bitte aktivieren Sie JavaScript in Ihren
				Browsereinstellungen und kommen Sie gerne wieder.</strong
			>
		</noscript>
		<div id="app"></div>
	</body>
</html>
