body {
	font-family: $font-sans-serif;
	font-size: 18px;
	line-height: 1.4em;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (min-width: 768px) {
		font-size: $font--xxsmall;
	}

	@media (min-width: 1024px) {
		font-size: $font-size-base;
	}
}

section {
	padding: 40px 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;

	@media (min-width: 768px) {
		padding: 60px 0;
	}

	.headline {
		grid-column: 2 / span 11;
		line-height: 25px;
		margin-bottom: 20px;

		@media (min-width: 768px) {
			line-height: 35px;
		}
	}
}

img.img-responsive {
	width: 100%;
}

.hide-mobile {
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

h1,
.font--xlarge {
	font-size: $font--xlarge;
	font-weight: 400;
}

h2,
.font--large {
	font-size: $font--small;
	font-weight: 400;

	@media (min-width: 1024px) {
		font-size: $font--large;
	}
}

h3,
.font--medium {
	font-size: $font--small;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 24px;

	@media (min-width: 1024px) {
		font-size: $font--medium;
		line-height: 50px;
	}
}

h4,
.font--small {
	font-size: $font--xsmall;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 20px;

	@media (min-width: 1024px) {
		font-size: $font--small;
		line-height: 38px;
	}
}

h5,
.font--xsmall {
	font-size: $font--xsmall;
	font-weight: 400;
}

h6,
.font--xxsmall {
	font-size: $font--xxsmall;
	font-weight: 400;
}

a {
	color: $text-color;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.font--vertical {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: right;
	justify-self: end;
	color: $brand-brown;
	grid-column: 1/2;
	grid-row: 1/3;
	margin-left: 10px;

	@media (min-width: 768px) {
		margin-left: 0;
	}

	.kenntnisse &,
	.kontakt & {
		color: $white;
	}
}
