/* barlow-semi-condensed-300 - latin */
@font-face {
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('assets/fonts/barlow-semi-condensed-v1-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semi Condensed Light'),
		local('BarlowSemiCondensed-Light'),
		url('assets/fonts/barlow-semi-condensed-v1-latin-300.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('assets/fonts/barlow-semi-condensed-v1-latin-300.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('assets/fonts/barlow-semi-condensed-v1-latin-300.woff')
			format('woff'),
		/* Modern Browsers */
			url('assets/fonts/barlow-semi-condensed-v1-latin-300.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('assets/fonts/barlow-semi-condensed-v1-latin-300.svg#BarlowSemiCondensed')
			format('svg'); /* Legacy iOS */
}
/* barlow-semi-condensed-regular - latin */
@font-face {
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/barlow-semi-condensed-v1-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semi Condensed Regular'),
		local('BarlowSemiCondensed-Regular'),
		url('assets/fonts/barlow-semi-condensed-v1-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('assets/fonts/barlow-semi-condensed-v1-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('assets/fonts/barlow-semi-condensed-v1-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('assets/fonts/barlow-semi-condensed-v1-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('assets/fonts/barlow-semi-condensed-v1-latin-regular.svg#BarlowSemiCondensed')
			format('svg'); /* Legacy iOS */
}
/* barlow-semi-condensed-700 - latin */
@font-face {
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('assets/fonts/barlow-semi-condensed-v1-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semi Condensed Bold'), local('BarlowSemiCondensed-Bold'),
		url('assets/fonts/barlow-semi-condensed-v1-latin-700.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('assets/fonts/barlow-semi-condensed-v1-latin-700.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('assets/fonts/barlow-semi-condensed-v1-latin-700.woff')
			format('woff'),
		/* Modern Browsers */
			url('assets/fonts/barlow-semi-condensed-v1-latin-700.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('assets/fonts/barlow-semi-condensed-v1-latin-700.svg#BarlowSemiCondensed')
			format('svg'); /* Legacy iOS */
}

/* shadows-into-light-two-regular - latin */
@font-face {
	font-family: 'Shadows Into Light Two';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/shadows-into-light-two-v5-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'),
		url('assets/fonts/shadows-into-light-two-v5-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('assets/fonts/shadows-into-light-two-v5-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('assets/fonts/shadows-into-light-two-v5-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('assets/fonts/shadows-into-light-two-v5-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('assets/fonts/shadows-into-light-two-v5-latin-regular.svg#ShadowsIntoLightTwo')
			format('svg'); /* Legacy iOS */
}
