$white: #ffffff;
$brand-grey: #888b90;
$brand-grey-dark: #6d7178;
$brand-brown: #d8cec5;
$brand-brown-dark: #beaa97;
$brand-green: #b8d2d3;
$brand-green-light: #d9e8e8;
$brand-green-dark: #639699;

$font--xlarge: 62px;
$font--large: 52px;
$font--medium: 42px;
$font--small: 32px;
$font--xsmall: 24px;
$font--xxsmall: 20px;
$font-size-base: $font--xsmall;

$text-color: $brand-grey-dark;
$shadow: rgba(0, 0, 0, 0.05);

$font-sans-serif: 'Barlow Semi Condensed', sans-serif;
$font-script: 'Shadows Into Light Two', serif;
