<template>
  <div class="book book--small book--color2">
    <span class="stripe stripe--small full-width"></span>
    <span class="circle"></span>
    <span class="rectangle rectangle--large">
      <span class="book__title book__title--small">SCSS-Syntax</span>
    </span>
    <span class="stripe stripe--small full-width"></span>
  </div>
</template>

<script>
export default {
  name: "Book",
  props: {},
  methods: {}
};
</script>

<style lang="scss" scoped>
@import "../../scss/custom/variables.scss";

$bookcolor1: $brand-green-light;
$bookcolor2: $brand-brown-dark;
$bookcolor3: $brand-green-dark;
$bookcolor4: $brand-grey-dark;
$shadow: rgba(0, 0, 0, 0.05);
$bookwidth: 110px;

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 340px;
  background: $bookcolor1;

  @media screen and (min-width: 1080px) {
    &--horizontal {
      transform: rotate(90deg);
      transform-origin: bottom left;
      top: -110px;
    }

    &--leaning {
      transform: rotate(-15deg);
      transform-origin: bottom left;
      margin-left: 73px;
    }

    &--margin-negative {
      margin-left: -45px;
    }

    &--on-top {
      top: -$bookwidth * 2;
    }

    &--on-top-of-small {
      top: -$bookwidth;
    }
  }

  @media screen and (min-width: 960px) and (max-width: 1079px) {
    &--last-medium {
      transform: rotate(-15deg);
      transform-origin: bottom left;
      margin-left: 73px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: $bookwidth/2;
    background-color: $shadow;
    height: 100%;
    display: block;
    left: $bookwidth/2;
  }

  &--color2 {
    background: $bookcolor2;
    .book__title {
      color: $white;
    }
    .rectangle--white {
      .book__title {
        color: $brand-grey-dark;
      }
    }
  }

  &--color3 {
    background: $bookcolor3;
    .book__title {
      color: $white;
    }
    .rectangle--white {
      .book__title {
        color: $brand-grey-dark;
      }
    }
  }

  &--color4 {
    background: $bookcolor4;
    .book__title {
      color: $white;
    }
    .rectangle--white {
      .book__title {
        color: $brand-grey-dark;
      }
    }
  }

  &--margin {
    margin-left: 30px;
  }

  &__title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 24px;
    line-height: 26px;
    color: $brand-grey-dark;
    align-self: center;

    &--large {
      font-size: 38px;
      line-height: 32px;
    }
    &--medium {
      font-size: 28px;
      line-height: 28px;
    }
    &--small {
      font-size: 18px;
      line-height: 20px;
      margin: auto;
    }
    &--bottom {
      align-self: flex-end;
      margin-bottom: 10px;
    }
    &--top {
      align-self: flex-start;
      margin-top: 10px;
    }
  }

  &--small {
    width: $bookwidth/2;
    height: 280px;

    &::after {
      width: $bookwidth/4;
      left: $bookwidth/4;
    }

    &.book .circle {
      width: 30px;
      height: 30px;
    }
  }

  .stripe {
    display: block;
    background-color: $white;
    width: 80%;
    height: 20px;
    margin: 20px auto;

    &--double {
      &::before {
        content: "";
        display: block;
        background-color: $white;
        width: 100%;
        height: 20px;
        margin: 20px auto;
      }
    }

    &--small {
      height: 10px;
      &.stripe--double {
        &::before {
          height: 10px;
        }
      }
    }
    &--large {
      height: 40px;
      &.stripe--double {
        &::before {
          height: 40px;
        }
      }
    }
  }

  .rectangle {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80%;
    height: 60%;

    &--white {
      background-color: $white;
      color: $brand-grey-dark;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
    }

    &--large {
      height: 83%;
    }
  }

  .circle {
    background-color: $white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    flex-shrink: 0;
  }

  .no-margin {
    margin: 0 auto;
  }

  .full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
</style>
