<template>
  <div id="impressum" class="overlay impressum">
    <div class="popup">
      <h2>Impressum</h2>
      <a class="close" href="#top">&times;</a>
      <div class="content">
        <p>Désirée Wittler
          <br>Romberg 48
          <br>51381 Leverkusen
        </p>

        <strong>E-Mail:</strong>
        <span>desi[at]desi-gn.de</span>
        <br>
        <br>

        <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h4>

        <p>Désirée Wittler
          <br>Romberg 48
          <br>51381 Leverkusen
        </p>

        <h3>Verwendete Bilder</h3>
        <a
          href="https://de.freepik.com/vektoren-kostenlos/lustige-blumensammlung_802472.htm"
          target="_blank"
        >Blumensammlung</a>
        <br>
        <a
          href="https://de.freepik.com/vektoren-kostenlos/topfe-auf-regalen-in-flaches-design_1041576.htm"
          target="_blank"
        >Kaktus</a>
        <br>
        <a
          href="https://de.freepik.com/vektoren-kostenlos/computer_3099005.htm"
          target="_blank"
        >Screen by Rawpixel.com</a>
        <br>
        <a
          href="https://de.freepik.com/vektoren-kostenlos/handy-vorlage_1173974.htm"
          target="_blank"
        >Handy by Bluemoon1981</a>
        <br>
        <br>

        <h3>Haftungsausschluss</h3>

        <h4>Haftung für Inhalte</h4>

        <p>
          Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität
          der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte
          auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
          nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen,
          die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen
          nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
          der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden
          wir diese Inhalte umgehend entfernen.
        </p>

        <h4>Haftung für Links</h4>

        <p>
          Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können
          wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
          Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
          Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
          inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
          Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
        </p>

        <h4>Urheberrecht</h4>

        <p>
          Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
          Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
          bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
          nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber
          erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
          Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
          Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
        </p>

        <h4>Datenschutz</h4>

        <p>
          Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten
          personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich,
          stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
        </p>
        <p>
          Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken
          aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
        </p>
        <p>
          Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht
          ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber
          der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen,
          etwa durch Spam-Mails, vor.
        </p>

        <p>Letzte Aktualisierung 26.01.2019</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Impressum"
};
</script>

<style lang="scss" scoped>
@import "../../scss/custom/variables.scss";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;

  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 1em 0;
  }

  h2,
  .h2 {
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  @media (min-width: 768) {
    h2,
    .h2 {
      margin-top: 0;
    }
  }

  @media (max-width: 1023) {
    &.impressum {
      font-size: 15px;
    }
  }
}

.popup {
  padding: 40px 20px;
  background: $brand-green;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 768) {
    width: 720px;
    margin: 50px auto;
  }

  @media (min-width: 1023) {
    width: 900px;
  }

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;

  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  .close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 50px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 140px;
    line-height: 90px;
    font-weight: 200;
    text-decoration: none;
    color: white;

    &:hover {
      opacity: 1;
    }
  }

  .content {
    overflow: auto;
    max-width: 1000px;
  }
}
</style>
