<template>
  <section id="persoenliches" class="lebenslauf">
    <span class="font--vertical font--large">persönliches</span>
    <h2 class="headline">{{ msg }}</h2>
    <div class="lebenslauf__info">
      <span>Désirée Wittler</span>
      <br>Jahrgang '81
      <br>
      <span>In der digitalen Welt zu Hause</span>
    </div>
    <img src="img/desi-avatar.png" alt="Das bin ich" class="lebenslauf__avatar img-responsive">

    <div class="lebenslauf__timeline">
      <div class="lebenslauf__line lebenslauf__line--short"></div>
      <div class="lebenslauf__circle"></div>
      <div class="lebenslauf__item lebenslauf__item--right lebenslauf__item--right-first">
        <span class="lebenslauf__priod">05/2011 - heute</span>
        <h4>Web Developer</h4>
        <span>denkwerk GmbH - Köln</span>
      </div>
      <div class="lebenslauf__line"></div>
      <div class="lebenslauf__item lebenslauf__item--left">
        <span class="lebenslauf__priod">06/2006 - 04/2011</span>
        <h4>Mediengestalterin für Digital- und Printmedien (Schwerpunkt Frontend-Entwicklung)</h4>
        <span>Contura Neue Medien GmbH - Würselen</span>
      </div>
      <div class="lebenslauf__circle"></div>
      <div class="lebenslauf__line"></div>
      <div class="lebenslauf__circle"></div>
      <div class="lebenslauf__item lebenslauf__item--right lebenslauf__item--right-last">
        <span class="lebenslauf__priod">09/2004 - 05/2006</span>
        <h4>Ausbildung - Mediengestalterin für Digital- und Printmedien</h4>
        <span>Contura Neue Medien GmbH - Würselen</span>
      </div>
      <div class="lebenslauf__line"></div>
      <div class="lebenslauf__item lebenslauf__item--left">
        <span class="lebenslauf__priod">09/2002 - 07/2004</span>
        <h4>Schulische Ausbildung - Gestaltungstechnische Assistentin (GTA)</h4>
        <span>Berufskolleg für Gestaltung und Technik - Aachen</span>
      </div>
      <div class="lebenslauf__circle"></div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Lebenslauf",
  props: {
    msg: String
  }
};
</script>

<style lang="scss" scoped>
@import "../../scss/custom/variables.scss";

.lebenslauf {
  &__avatar {
    grid-column: 2 / span 3;
    grid-row-start: 2;
    min-width: 90px;

    @media screen and (min-width: 768px) {
      grid-column: 6 / span 2;
    }
  }

  &__info {
    grid-column: 6 / span 6;
    align-self: center;
    text-align: left;

    @media screen and (min-width: 768px) {
      grid-column: 2 / span 4;
      text-align: right;
    }

    span {
      color: $brand-green-dark;
    }
  }

  &__timeline {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    grid-column: 2/ -2;
    margin-top: -20px;
  }

  &__circle {
    width: 70px;
    height: 70px;
    background: $brand-brown;
    border-radius: 50%;
    grid-column: 1 / span 3;
    justify-self: center;
    display: none;

    @media screen and (min-width: 768px) {
      grid-column: 5 / span 2;
      width: 90px;
      height: 90px;
      display: block;
    }

    @media screen and (min-width: 1024px) {
      width: 120px;
      height: 120px;
    }
  }

  &__line {
    grid-column: 1 / span 3;
    justify-self: center;
    display: none;
    width: 5px;
    height: 160px;
    background: $brand-brown;

    @media screen and (min-width: 768px) {
      grid-column: 5 / span 2;
      display: block;
    }

    &--short {
      height: 50px;

      @media screen and (min-width: 768px) {
        height: 70px;
      }
    }
  }

  &__item {
    position: relative;
    grid-row-end: span 4;
    align-self: start;
    background-color: $brand-green-light;
    padding: 50px 15px 30px;
    margin-top: 60px;

    @media screen and (min-width: 768px) {
      margin-top: 50px;
    }

    @media screen and (min-width: 1024px) {
      padding: 80px 30px 30px;
    }

    &::before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      top: 35px;
      left: -50px;
      transform: rotate(225deg);
      transform-origin: top;
      border-style: solid;
      border-width: 0 50px 50px 50px;
      border-color: transparent transparent $brand-green-light transparent;
      z-index: -1;

      @media screen and (min-width: 768px) {
        left: -5px;
        top: 0;
        transform: rotate(45deg);
      }

      @media screen and (min-width: 1024px) {
        left: -10px;
      }

      @media screen and (min-width: 1280px) {
        left: -32px;
      }
    }

    &--right {
      grid-column: 1 / span 10;

      @media screen and (min-width: 768px) {
        grid-column: 7 / span 4;

        &-first {
          grid-row-start: 2;
        }

        &-last {
          grid-row: 6 / span 6;
        }
      }
    }

    &--left {
      grid-column: 1 / span 10;

      @media screen and (min-width: 768px) {
        grid-column: 1 / span 4;
      }

      @media screen and (min-width: 768px) {
        &::before {
          content: "";
          right: -5px;
          left: auto;
          transform: rotate(-45deg);
        }
      }

      @media screen and (min-width: 1024px) {
        &::before {
          right: -10px;
        }
      }

      @media screen and (min-width: 1280px) {
        &::before {
          right: -32px;
        }
      }
    }

    span {
      color: $brand-grey;
    }

    .lebenslauf__priod {
      display: block;
      margin-bottom: 10px;
      color: $brand-green-dark;
    }
  }
}
</style>
