<template>
  <div id="referenzManuela" class="overlay referenzManuela">
    <div class="popup">
      <h2>CI für Manuela Mahl</h2>
      <a class="close" href="#geleistetes">&times;</a>
      <div class="content">
        <p>Erstellung einer CI für Manuela Mahl - Fachärztin für Psychosomatische Medizin und Psychotherapie. Vom Logo bis zur responsiven Webseite.</p>
        <div class="img__wrapper">
          <img
            src="img/referenzen/referenzen_desk_manuela.png"
            alt="manuela-mahl.de auf Desktop Rechner"
            class="referenz__img referenz__img--desk"
          >
          <img
            src="img/referenzen/referenzen_mobil_manuela.png"
            alt="manuela-mahl.de auf Smartphone"
            class="referenz__img referenz__img--mobile"
          >
        </div>
        <ul>
          <li>Gestaltung des Logos</li>
          <li>Printprodukte
            <ul>
              <li>Visitenkarten</li>
              <li>Briefpapier</li>
              <li>Terminzettel</li>
              <li>Rezepte</li>
            </ul>
          </li>
          <li>Responsive Webseite mit CSS Grid</li>
        </ul>
        <SimpleLink :href="'http://www.manuela-mahl.de/'" target="_blank">Projekt ansehen</SimpleLink>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleLink from "./SimpleLink.vue";

export default {
  name: "ReferenzTangram",
  components: {
    SimpleLink
  }
};
</script>

<style lang="scss" scoped>
@import "../../scss/custom/variables.scss";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
  h2,
  .h2 {
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.popup {
  padding: 40px 20px;
  background: $brand-green;
  width: 100%;
  box-sizing: border-box;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
  .close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 50px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 140px;
    line-height: 90px;
    font-weight: 200;
    text-decoration: none;
    color: white;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    max-width: 1000px;

    .img__wrapper {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 50px);

      @media (min-width: 640px) {
        grid-template-rows: repeat(8, 100px);
      }
    }

    .referenz__img {
      width: 100%;

      &--desk {
        grid-column: 1 / span 7;
        grid-row: 1 / -1;
      }

      &--mobile {
        grid-column: 6 / -1;
        grid-row-start: 3;
      }
    }

    ul {
      list-style: none;
      margin: 0 0 30px 0;
      padding-left: 0;

      li {
        margin-bottom: 10px;

        &:before {
          content: "";
          width: 10px;
          height: 10px;
          background: $white;
          display: inline-block;
          margin: 0 20px 5px 0;
        }

        ul {
          margin-left: 30px;
        }
      }
    }
  }
}
</style>
